body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased; /* White-on-black. */
  background-color: #222;
  color: #ddd;
}
#JustOneDangColumnInTheMiddle {
  width: 480px;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -240px;
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;
  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;
  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}
#AndWhyDontWeCenterThatVerticallyToo {

}
h1 {
  font-weight: lighter;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
