html {
  height: 100%;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased; /* White-on-black. */
  min-height: 100%;
  background-color: #222;
  line-height: 1.4em;
  color: #ddd;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#WeLiveInTheFlexboxWorldNowSoIOnlyNeedOneDivHere {
  max-width: 480px;
  margin: auto;
  padding: 5px 10px;
}
h1 {
  font-weight: 300;
  margin-top: 0px;
  line-height: initial;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
p:last-child {
  margin-bottom: 0px;
}
